.nav__links {
    display: flex;
    gap: 7.5rem;
    align-items: center;
    position: relative;
    color: rgb(106, 255, 0);
}


/*  nav__links
li
nav__container
<div className='containe nav__container'>
Menu
*/
.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav__container .Menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    border-radius: 50%;
    background: rgb(212, 128, 128);
    margin: 0 15px;
    bottom: 0;
    cursor: pointer;
    /*    transform: translateY(100px);
    opacity: 1;
    transition: 0.2 ease; */
}

/* */

 .Menu li{

position: absolute;

}